.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
	background-image: url("../images/background.png");
}

.container{
	overflow: auto;
	

}

.jumbotron{
	margin-top: 3%;
	min-height: 650px;
	height:650px;
	background-image: url("../images/sayagata.png");
	background-repeat: repeat;
}

.Question{
	font-size: 30px;
}

.Choices {
	font-size: 25px;

}

.AnswerDivOne:hover {
	outline: 2px solid gray;
	width: 200px;
	height: auto;
  
}

.AnswerDivTwo:hover {
	outline: 2px solid gray;
	width: 200px;
	height: auto;
  
}

.AnswerDivThree:hover {
	outline: 2px solid gray;
	width: 200px;
	height: auto;
  	
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

div {
	text-align: center;
}

.StartButton {
	text-align: center;
}

.AnswerImage {
	

}

.AllResults {
	font-size: 25px;
}